<div class="container-fluid" id="containerPreguntasFrecuentes">

    <div class="row">

      <div class="col-md-6 offset-md-3 questionsCol">
        <h2 class="Titles">
          <strong>Preguntas frecuentes</strong>
        </h2>

        <p>Alguna vez te han preguntado ¿cómo sabes qué eres intolerante al gluten o celiaco? o crees que tienes los síntomas
          de la celiaquia pero no sabes a qué medico recurrir. A continuación te presentamos la diferencias entre Enfermedad
          Celíaca, Sensibilidad no Celíaca al gluten y Alergia a las proteínas del trigo.</p>

      </div>

    </div>

    <div class="row">
      <!-- preguntas frecuentes -->
      <div class="col-md-6 offset-md-3">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="titleCollapse">
                  ¿Qué es la Enfermedad celiaca?
                  <i class="fas fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Es una enfermedad
                  <b> crónica autoinmune</b>, caracterizada por la
                  <b>mala absorción de nutrientes </b> (proteínas, grasas, hidratos de carbono, sales minerales y vitaminas)
                  como consecuencia del daño inflamatorio de la mucosa del intestino delgado, que se gatilla al ingerir el
                  gluten de los alimentos, en individuos genéticamente predispuestos. En el caso de la enfermedad celíaca,
                  la autoinmunidad se produce por anticuerpos del tipo inmunoglobulina A e inmunoglobulina G (IgA, IgG) Se
                  presenta en el 1% de la población mundial y puede presentarse en cualquier etapa de la vida, desde que
                  se inicia la exposición al gluten. El único tratamiento es una Dieta Libre de Gluten, de forma estricta
                  y para toda la vida. El celíaco soporta el consumo de pequeñas trazas de gluten medidas en partes por millón
                  (miligramos por kilogramo de producto). Por esto debe poner especial cuidado con el llamado “Gluten Oculto”
                  en los alimentos procesados, y la “Contaminación Cruzada”, ya sea industrial o doméstica. Cada país normalmente
                  maneja un listado de alimentos y medicamentos seguros para el consumo de las personas celíacas. En las
                  enfermedades autoinmunes, el cuerpo genera anticuerpos atacando sus propios órganos. Así, en el caso de
                  la diabetes tipo 1 el cuerpo ataca al páncreas, en la tiroiditis a la tiroides y en la enfermedad celíaca
                  al intestino delgado. Los celíacos sin diagnóstico y/o que no realizan el tratamiento con la dieta libre
                  de gluten tienen mayor riesgo de presentar otras enfermedades autoinmunes asociadas.</p>

                <p>
                  <strong>Sintomas para la celiaquía</strong>
                </p>
                <p>Es una nueva enfermedad de la que aún se sabe muy poco. Sus síntomas son parecidos a los de la enfermedad
                  celíaca y comparte algunos con la alergia al trigo. Se trata de personas que presentan síntomas ante la
                  ingestión de gluten, en los cuales los exámenes para documentar la enfermedad celíaca son negativos. En
                  su aparición, no intervienen mecanismos inmunológicos como en el caso de EC o alergia al trigo.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="titleCollapse">
                  ¿Qué es la Sensibilidad no celíaca al gluten SNGC?
                  <i class="fas fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Es una nueva enfermedad de la que aún se sabe muy poco. Sus síntomas son parecidos a los de la enfermedad
                  celíaca y comparte algunos con la alergia al trigo. Se trata de personas que presentan síntomas ante la
                  ingestión de gluten, en los cuales los exámenes para documentar la enfermedad celíaca son negativos. En
                  su aparición, no intervienen mecanismos inmunológicos como en el caso de EC o alergia al trigo.</p>

                <strong>Sintomas para la Sensibilidad no celiaca</strong>
                <p>Es una nueva enfermedad de la que aún se sabe muy poco. Sus síntomas son parecidos a los de la enfermedad
                  celíaca y comparte algunos con la alergia al trigo. Se trata de personas que presentan síntomas ante la
                  ingestión de gluten, en los cuales los exámenes para documentar la enfermedad celíaca son negativos. En
                  su aparición, no intervienen mecanismos inmunológicos como en el caso de EC o alergia al trigo.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="titleCollapse">
                  ¿A qué doctor debo recurrir en caso de presentar síntomas?
                  <i class="fas fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  <p> Existen doctores especialistas en celiaquía.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="titleCollapse">
                ¿Qué examenes me tendrian que hacer para ver si soy celiaco/sensible al gluten?
                <i class="fas fa-caret-down"></i>
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p> Los pasos a seguir según el examen medico, dependen de cada doctor pero existen algunos que son recomendados
                por los especialistas para ver tu estado de salud </p>
              <p> Antiendomisio y antitransglutaminasa son los exámenes para investigar la celiaquía, si salen alterados se realiza
                endoscopía y biopsia al intestino.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>