<div class="container">

    <div class="row">
      <div class="col-md-4 mx-auto">
        <img src="src/img/perfilpng.png" alt="fotoPerfil" class="fotoperfilUsuario">
      </div>
    </div>

    <div class="row">
        <div class="btn-group-vertical col-md-4 mx-auto">
          <button type="button" class="btn btn-primary btnPerfil">
            <i class="fas fa-heart"></i> Mis Intereses</button>
          <button type="button" class="btn btn-primary btnPerfil">
            <i class="fas fa-envelope"></i> Mensaje</button>
          <button type="button" class="btn btn-primary btnPerfil">
            <i class="fas fa-user-friends"></i> Amigos</button>
          <button type="button" class="btn btn-primary btnPerfil">
            <i class="fas fa-lock"></i> Cambiar Contraseña</button>
        </div>
    </div>
  </div>