.titleUser{
  color: #9B369D;
}

.alert-warning{
background-color: #ECF8E0;
color: #212529;
padding-bottom: 2em;
}

.fa-trash-alt{
  color: gray;
}

.fa-pencil-alt{
  color: gray;
}

.fa-heart{
  color: gray;
}

