.titleUser{
  color: #9B369D;
}

.alert-warning{
background-color: #ECF8E0;
color: #212529;
padding-bottom: 2em;
}

.fa-trash-alt{
  color: gray;
  cursor: pointer;
}

.fa-pencil-alt{
  color: gray;
  cursor: pointer;
  margin-right: 0.2em;
}



       



