<div class="container" id="containerNoticias">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="titles">
          <strong>Noticias</strong>
        </h2>
        <p id="noticiasSubtitle">
          Lee la actualidad internacional y nacional respecto a temas como la celiaquía, intolerancia al gluten, experiencia de usuarios
          y mucho más.
        </p>

      </div>
    </div>

    <div class="row">

      <div class="col-md-6 mx-auto">

        <div class="list-group" id="barranoticias">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Si no soy celiaco, ¿por qué me sienta mal el gluten?</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Silvia F.G. tiene una relación extraña con el gluten: cada vez que toma alimentos con esta proteína, siente molestias
              intestinales e incluso cansancio, pero el médico ha descartado que sea celiaca, ya que todas las pruebas médicas
              han resultado negativas. Esta contradicción la convierte en candidata a padecer "sensibilidad al gluten no
              celiaca", una afección recogida en la última Clasificación Internacional de Enfermedades sobre la que aún planean
              algunas sombras.</p>
            <small>
              <a class="news" href="https://elpais.com/elpais/2018/06/28/buenavida/1530180812_683293.html">Revisa la noticia completa
                <strong> aquí.</strong>
              </a>
            </small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Día Internacional del Celíaco: nutricionista explica la clave para controlar la enfermedad</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Cada año, se conmemora el 5 de mayo como el Día Internacional del Celíaco, enfermedad autoinmune y cuya prevalencia
              en Chile no se sabe con exactitud, aunque se estima que el 1% de los chilenos la padece. Sin embargo, expertos
              advierten que 9 de cada 10 celíacos desconocerían tener la enfermedad.</p>
            <small>
              <a class="news" href="http://www.elmostrador.cl/agenda-pais/vida-en-linea/vida-destacados/2018/05/05/dia-internacional-del-celiaco-nutricionista-explica-la-clave-para-controlar-la-enfermedad/">
                Revisa la noticia completa
                <strong> aquí.</strong>
              </a>
            </small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">[VIDEO] Mercado para celíacos va en constante crecimiento en Chile</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Según estudios, el 1% de la población mundial es celíaca. En Chile cada vez se detectan más casos, por eso la
              necesidad de más opciones alimenticias que estén libre de gluten.</p>
            <small>
              <a class="news" href="http://www.t13.cl/videos/nacional/video-mercado-celiacos-va-constante-crecimiento-chile"> Revisa la noticia completa
                <strong> aquí.</strong>
              </a>
            </small>
          </a>
        </div>

      </div>
    </div>

  </div>
 