<!--ngIf desaparecerá lo que esta dentro del div-->
<div class="container-fluid bgLogin">
    <div class="row">
        <div class="col-md-4 mx-auto">
          <img src="../../assets/img/celiaco3.png" alt="logoCelibook" class="logoCelibook">
          <h2 class="titleLogin">Celibook</h2>
        </div>
      </div>

  <div class="row iniciarsesion">
    <div class="col-md-6 mx-auto">
      <form [formGroup]="authForm" (ngSubmit)="onRegister()" *ngIf="!(authService.user | async)">
        <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
        <input type="password" class="form-control" placeholder="Contraseña (mínimo 8 caracteres)" formControlName="password">
        <button type="button" class="btn btn-primary mb-2" (click)="onLogin()" [disabled]="!authForm.valid">Iniciar sesión</button>
        <p class="titleRegister">¿Aún no estás registrado en nuestra Comunidad?</p>
        <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">¡Registrate!</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <button type="submit" (click)="loginFacebook()" class="btn btn-primary btnFb">
        <i class="fab fa-facebook-f"></i> Registrarme con Facebook</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <button type="submit" (click)="loginGoogle()" mt-8 class="btn btn-primary btnGoogle">
        <i class="fab fa-google-plus-g"></i> Registrarme con Google+</button>
    </div>
  </div>
</div>