<!--ngIf desaparecerá lo que esta dentro del div-->
<div *ngIf="authService.user | async">
  <p>Bienvenido : {{(authService.user | async).email}}</p>
  <button type="button" (click)="onLogout()">Cerrar sesión</button>
</div>
<div class="row iniciarsesion">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="authForm" (ngSubmit)="onRegister()" *ngIf="!(authService.user | async)">
      <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
      <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
      <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Registrarse</button>
      <button type="button" class="btn btn-primary" (click)="onLogin()" [disabled]="!authForm.valid">Iniciar sesión</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <button type="button" (click)="loginFb()" class="btn btn-primary btnFb">
      <i class="fab fa-facebook-f"></i> Registrarme con Facebook</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <button type="button" (click)="loginGoogle()" mt-8 class="btn btn-primary btnGoogle">
      <i class="fab fa-google-plus-g"></i> Registrarme con Google+</button>
  </div>
</div>