<div class="container-fluid containerSalud">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="Titles">
          <strong>Salud</strong>
        </h2>
        <p>
          Existe evidencia científica acerca de la relación entre Enfermedad Celíaca, enfermedades autoinmunes y el tiempo ingiriendo
          gluten. Se ha visto que a mayor tiempo ingiriendo gluten, mayor es la probabilidad de desarrollar problemas de
          autoinmunidad. A la inversa, se piensa que el diagnóstico temprano junto a un buen tratamiento con dieta libre
          de gluten protege del desarrollo de las complicaciones de la enfermedad. Por esto, la vital importancia del Diagnóstico
          Precoz.
        </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Policlínico para celíacos</h2>
        <p>Información sobre horarios de atención </p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Información </button>
        <div id="demo" class="collapse">
          <b> Horarios:</b> Los días lunes y miércoles por la tarde de 14 a 16 horas, atención médica y martes de 9 a 13 horas
          solo atención nutricional. Se realiza atención médica los días lunes y miércoles, con la
          <b> Dra. Magdalena Araya</b>, pediatra gastroenteróloga, experta en Enfermedad Celíaca. Sin embargo, debido a la alta
          demanda por atención médica de población adulta, acepta sus consultas y da orientación médica a mayores de 15 años
          que lo soliciten. Los días lunes y miércoles de 14.30 a 16.30 horas se puede consultar a la Nta. Catalina Vespa,
          Magister en Nutrición Clínica del INTA. Desde 2011 se dedica a la atención de pacientes celiacos adultos y niños,
          se incorpora a COACEL en 2014. Los martes de 9 a 13 horas se puede consultar a la Nta. Yanett Pérez Barrientos,
          Nutricionista de la Universidad de Chile, especialista en Enfermedades Crónicas No Transmisibles de Origen Nutricional
          otorgado por INTA. Desde 2004 se dedica a la atención de pacientes celiacos adultos y niños, se incorpora a COACEL
          en esta misma fecha. La puedes encontrar además en el Centro Médico Clínica Santa María La Dehesa.
          <b> El Policlínico es administrado por el Cedinta, las horas se solicitan al teléfono fijo: 29 78 14 67.</b>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="Titles">
          <strong>Foro de especialistas</strong>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="media p-3">
          <img src="../../assets/img/doctor.jpg" alt="Juan Inostroza" class="mr-3 mt-3 rounded-circle" style="width:60px;">
          <div class="media-body">
            <h4>Dr. Juan Inostroza
              <small>
                <i>Escrito el 18 de Julio, 2018</i>
              </small>
            </h4>
            <p>A diario recibo en mi consulta a pacientes que sospechan que son intolerantes al gluten pero no se han realizado
              ningun examen al respecto. </p>
            <p>Los sintomas frecuentes varian según cada persona pero algunos especialistas suelen confudir ser celiaco con
              tener ataques de colon. Comenta tus sintomas y conversemos al respecto. ¡Estoy para ayudarte!.</p>
            <div class="media p-3">
              <div class="media-body">
                <h4>Ana Salinas
                  <small>
                    <i>Escrito el 19 de Julio, 2018</i>
                  </small>
                </h4>
                <p>Doctor, sufro de constantes dolores estomacales, permanezco día hinchada y con indigestión .</p>
                <p>He ido en reiteradas ocasiones al gastroenterologo pero solo me dice que es el colon y mi malestar sigue.
                  Ahora estoy realizando mis examenes para ver si soy celiaca, ¿me recomienda usted comenzar a sacar el gluten
                  de mi dieta?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form>
          <div class="form-group">
            <label for="comment">Comenta:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </form>
      </div>
    </div>


   




  </div>

