<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="titles">
          <strong>Actividades</strong>
        </h2>
        <p class="titles">
          Información actualizada de las actividades en las que podrás participar.
        </p>
        
<div>
          <p class="titles"> <b> Simbología: </b></p>
          <ul> Charla:
            <i class="fas fa-circle" id="rojo"></i>
          </ul>
          <ul> Seminario:
            <i class="fas fa-circle" id="verde"></i>
          </ul>
          <ul> Taller:
            <i class="fas fa-circle" id="azul"></i>
          </ul>
          <ul>Feria:
            <i class="fas fa-circle" id="amarillo"></i>
          </ul>
</div>
        

      </div>
    </div>
    <div class="row">

      <div class="col-md-6 offset-md-3">
        <div class="month">
          <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
              Septiembre
              <br>
              <span style="font-size:18px">2018</span>
            </li>
          </ul>
        </div>

        <ul class="weekdays">
          <li>Lu</li>
          <li>Ma</li>
          <li>Mi</li>
          <li>Ju</li>
          <li>Vi</li>
          <li>Sa</li>
          <li>Do</li>
        </ul>

        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4
            <i class="fas fa-circle" id="verde"></i>
          </li>
          <li>5</li>
          <li>6</li>
          <li>7 </li>
          <li>8</li>
          <li>9</li>
          <li>
            <span class="active">10</span>
          </li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18
            <i class="fas fa-circle" id="azul"></i>
          </li>
          <li>19</li>
          <li>20
            <i class="fas fa-circle" id="amarillo"></i>
          </li>
          <li>21
            <i class="fas fa-circle" id="amarillo"></i>
          </li>
          <li>22</li>
          <li>23</li>
          <li>24
            <i class="fas fa-circle" id="azul"></i>
          </li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28
            <i class="fas fa-circle" id="verde"></i>
          </li>
          <li>29
            <i class="fas fa-circle" id="verde"></i>
          </li>
          <li>30</li>
          <li>31</li>
        </ul>

      </div>
    </div>
  </div>
