.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav{
  background-color: #99CE81;
  
}
.fa-bars{
  color: white;
  font-style: bold;
}

.botonMenu{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-style: bold;
  font-size: 1.2em;
}


.botonMenuPrincipal{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.toolbarBg{
  background-color: #99CE81;
  height: 2.5em;
}

.celibookTitle{
  color: white;
  font-style: bold;
}

.img{
  width: 1em;
}