.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
   
}



.mat-sidenav{
  background-color: #99CE81;
}
.fa-bars{
  color: white;
  font-style: bold;
  font-size: 1.3em;
}

.botonMenu{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-style: bold;
  font-size: 1.2em;
}

.botonMenu:focus {
  outline:none;
}

.botonMenuPrincipal{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.toolbarBg{
  background-color: #99CE81;
  height: 2.5em;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.celibookTitle{
  color: white;
  font-style: bold;
}

.img{
  width: 2em;
  margin-top: 0.2em;
  margin-right: 1em;
}

.pburguer{
  height: 2em;
}