<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="authService.user | async">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p class="pburguer">
      <button class="botonMenuPrincipal float-right" mat-button (click)="close('toggle button')"><i class="fas fa-bars"></i></button>
    </p>
    <p><button class="botonMenu ml-3 mr-3 mt-10" (click)="goToPerfil()"><i class="fas fa-user-alt"></i> Mi perfil</button></p>
    <p><button class="botonMenu ml-3 mr-3" (click)="goToSalud()"> <i class="fas fa-heartbeat"></i> Salud Integral</button></p>
    <p><button class="botonMenu ml-3 mr-3" (click)="goToAlimentacion()"> <i class="fas fa-utensils"></i> Alimentación</button></p>
    <p><button class="botonMenu ml-3 mr-3" (click)="goToActividades()"><i class="fas fa-address-book"></i> Actividades</button></p>
    <p><button class="botonMenu ml-3 mr-3" (click)="goToNoticias()"><i class="fas fa-newspaper"></i> Noticias</button></p>
    <p><button class="botonMenu ml-3 mr-3" (click)="goToPreguntas()"><i class="fas fa-question-circle"></i> Preguntas frecuentes</button></p>
    <p><button class="botonMenu ml-3 mr-3"  (click)="goToHome()"><i class="fas fa-home"></i> Home</button></p>
    <p><button type="button" class="botonMenu ml-3 mr-3" (click)="onLogout()"> <i class="fas fa-sign-out-alt"></i> Cerrar sesión</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p class="toolbarBg">
      <button class="botonMenuPrincipal" mat-button (click)="sidenav.open()"><i class="fas fa-bars"></i></button>
      <img src="/src/img/celiaco3.png" class="img float-right">
    </p>

    <!-- CONTENIDO DE PAGINA -->
    <router-outlet></router-outlet>
    <!-- FIN CONTENIDO DE PAGINA -->

  </mat-sidenav-content>
</mat-sidenav-container>
<app-login *ngIf="!(authService.user | async)"></app-login>
