<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p>
      <button class="botonMenuPrincipal" mat-button (click)="close('toggle button')">Cerrar</button>
    </p>
    <p><button class="botonMenu ml-3 mr-3" >Mi perfil</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Salud Integral</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Alimentación</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Actividades</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Noticias</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Preguntas frecuentes</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Home</button></p>
    <p><button class="botonMenu ml-3 mr-3" >Cerrar sesión</button></p>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <p>
      <button class="botonMenuPrincipal" mat-button (click)="sidenav.open()">Menú</button>
    </p>

    <!-- CONTENIDO DE PAGINA -->
    <app-toolbar></app-toolbar>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 offset-3">
          <app-addpublicaciones></app-addpublicaciones>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-3">
          <app-publicaciones></app-publicaciones>
        </div>
      </div>
    </div>
    <!-- FIN CONTENIDO DE PAGINA -->

  </mat-sidenav-content>
</mat-sidenav-container>