<div class="container-fluid">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="Titles">
          <strong> Alimentación </strong>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">

        <p> En esta tabla podrás encontrar los alimentos certificados por la Fundación Convivir que puedes consumir si eres intolerante
          al gluten o celiaco. Sigue el recorrido en el mapa y encuentra los locales donde podrás adquirir estos. </p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Alimento</th>
              <th>Producto</th>
              <th>Empresa</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr>
              <td>Nectar</td>
              <td>Néctar sabor damasco</td>
              <td>Colun</td>
            </tr>
            <tr>
              <td>Harina de arroz</td>
              <td>Harina de arroz</td>
              <td>El Pueblo</td>
            </tr>
            <tr>
              <td>Pan de molde</td>
              <td>Pan de molde
              </td>
              <td>Noglut</td>
            </tr>
            <tr>
              <td>Pulpa de fruta</td>
              <td>Sabor pera</td>
              <td>AMA</td>
            </tr>
            <tr>
              <td>Pastas</td>
              <td>Pasta de aceitunas verdes</td>
              <td>Buka</td>
            </tr>
            <tr>
              <td>Arroz</td>
              <td>Arroz en caja</td>
              <td>Tucapel</td>
            </tr>
            <tr>
              <td>Salsa</td>
              <td>salsa 200 grs.</td>
              <td>Malloa</td>
            </tr>
            <tr>
              <td>Mayonesa</td>
              <td>Mayonesa receta clásica lLight</td>
              <td>Buka</td>
            </tr>
          </tbody>
        </table>

        <!-- TABLA FINALIZA -->
      </div>
    </div>




    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 id="alimentacion">Alimentos</h2>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OkPPDqPMKQ-9Dbfy33tKNS11pJ7RrQDI" width="640" height="480"></iframe>


      </div>
    </div>
  </div>